{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="login-form">
        <form action="" method="post" id="login-form">
            {% csrf_token %}
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input required type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <input required type="password" class="form-control" placeholder="Password" name="password" autocomplete="on">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" id="login-button">Log in</button>
            </div>
            <div class="clearfix">
                <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
                <a href="#" class="float-right">Forgot Password?</a>
            </div>
        </form>
        <p class="text-center"><a href="#">Create an Account</a></p>
    </div>

    <script type="text/javascript">
        var form = document.getElementById('login-form')

        form.addEventListener("submit", function (e) {
            e.preventDefault()
            console.log('Submit login data ...')
        })

        document.getElementById('login-button').addEventListener('click', function (e) {
            var username = form.username.value
            var password = form.password.value

            var url = '/login/'

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({'username': username, 'password': password})
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    alert(data);

                    if (data === 'Login success') {
                        window.location.href = "{% url 'store' %}"
                    }
                })
        })
    </script>
{% endblock content %}
